main {
  max-width: 1200px;
  display: flex;
  margin: auto;
  justify-content: center;
}
.element {
  width: 600px;
  padding: 10px 10px;
}
.accordion-top {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  width: 580px;
  background-color: darkgoldenrod;
}
.accordion-bot {
  background-color: blue;
  color: white;
}
p {
  margin: 0;
}
button {
  background-color: transparent;
  border: none;
  font-size: 30px;
}
