@import "tailwindcss";

:root {
  --select-color: #f6c344;
  --bg-color: #e5e5e5;
  --close-bg: #efefef;
}

body {
  background-color: var(--bg-color);
}
.active {
  background-color: var(--select-color);
}
p {
  background-color: white;
}
.off {
  background-color: var(--close-bg);
}
